.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.background{
    color:red
}

.iconos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}