<ion-card class="card">

  
  <ion-img (click)="openCharacter()" class="img" src="{{src}}"></ion-img>
  <ion-card-header class="header">
    <div class="iconos">
      <ion-icon *ngIf="favorite;else iconoNoFav" class="background" (click)="deleteFromFavorites($event)" name="heart" size="large"> </ion-icon>
      <ng-template #iconoNoFav>
        <ion-icon (click)="addToFavorites($event)" name="heart-outline" size="large"> </ion-icon>
      </ng-template>
      <ion-icon (click)="share()"name="share-social-outline" size="large"></ion-icon>
    </div>
    <ion-card-title>{{character.name}}{{character.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  </ion-card-content>
  
</ion-card>