<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favoritos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedCategory">
    <ion-segment-button *ngFor="let item of categories" [value]="item">
      <ion-label>{{item}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-tarjetas
  [characters]="information"></app-tarjetas>

</ion-content>
