<ion-grid>
  <ion-row >
    <ion-col *ngFor="let character of characters" size-xs="12" size-md="4">
     <app-tarjeta
     [character]="character"></app-tarjeta>
    </ion-col>
  </ion-row>
</ion-grid>
